[Desktop Entry]
Type=Application
Version=1.0.0
Name=grSim
Comment=Robocup Small Size League Simulator
Exec=grsim
Icon=grsim
Terminal=false
Categories=Utility;Physics;Robotics
